body{
    height: 100vh;
    width: 100vw;
    /* background-color: wheat; */
    margin: 0rem;
    /* overflow: hidden; */
}
 #images > .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
} 
#images > .image:hover{
    cursor: pointer;
}
#images{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    margin-top: 6%;
    display: flex;
    gap: 4vmin;
    position: absolute; left: 50%; top:50%; transform: translate(-100%, -50%);
}
#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    margin-bottom: 10vh;
    height: 98vh;
    margin-top: 5%;
    margin-top: 5%;
    margin-right: 50%;
   
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    
  }
  

   .navigation{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s;
    border-radius: 60px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition-delay: 0.5s;
  }
  .navigation .toggleMenu{
    position: absolute;
    width: 30px;
    height: 60px;
    background:rgb(0, 191, 255);
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation.active.toggleMenu{
    background: red;
    transition-delay: 0.5s;
    transform: translateY(60px);
    width: 30px;
    height: 30px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
  }
  .navigation.toggleMenu::before{
    content: '';
    position: absolute;
    width: 30px;
    border-radius: 3px;
    background: black;
    transform: translateY(-5px);
    transition: 0.5s;
    transition-delay: 0.5s ;
  }
  .navigation.toggleMenu::after{
    content: '';
    position: absolute;
    width: 30px;
    border-radius: 3px;
    background: black;
    transform: translateY(-5px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .navigation.active.toggleMenu::before{
    transition-delay: 0s;
    background: whitesmoke;
    transform: translateY(0px) rotate(45deg) scale(0.6);
  }
  .navigation.active.toggleMenu::after{
    transition-delay: 0s;
    background: whitesmoke;
    transform: translateY(0px) rotate(315deg) scale(0.6);
  }
  .navigation.active{
    width: 100%;
  }
  .navigation li {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
  }
  .navigation.active li {
    transition-delay:0.75s ;
    display: flex;
    transform: scale(1);
  }
  .navigation li a{
    color: rgb(7, 7, 6);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1{
      text-align: center;
  }
  .btn{
      display: grid;
      grid-template-columns: 1fr;
      
      
  }
  .btn button{
    width: 20%;
    margin-bottom: 1.5%;
    padding: 12px;
    background-color: rgb(174, 219, 240);
    border: none;
    border-radius: 10px;
    margin-left: 10%;
  }
  .btn button:hover{
      cursor: pointer;
  }
  .conth2{
    text-align: center;
}
.containerr {
  position: relative;
  width: 450px;
  height: 350px;
  transform-style: preserve-3d;
  animation: image 10s linear infinite;
  /* margin-top: 100%; */
}
@keyframes image {
  0% {
      transform: perspective(3000px) rotateY(0deg);
  }
  100% {
      transform: perspective(3000px) rotateY(360deg);
  }
}
.containerr .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--img);
  background-size: cover;
  transform: rotateY(calc(var(--i) * 90deg)) translateZ(300px);
}
    /* 
    
    transform: translateY(100%);
    transition: .5s ease; */


/* .images:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 1rem;
   
} */
@media(max-screen:800px){
    #images{
        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        margin-top: 3%;
        display: none;
        flex-direction: column-reverse;

        gap: 4vmin;
        position: absolute; left: 50%; top:50%; transform: translate(-100%, -50%);
    }
}
.btn button{
    text-size-adjust: 10px;
    width: 37%;
    margin-bottom: 1.5%;
    padding: 12px;
    background-color: rgb(174, 219, 240);
    border: none;
    border-radius: 10px;
    margin-left: 10%;
  }
  /* .btn{
      margin-top: 26%;
    display: grid;
    grid-template-columns: 1fr;
    
    
} */